<section>
    <div class="container-fluid teams">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 head-logo">
                <img class="team-logo" src="../images/teams/EAGLES IMAGE.png" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                <h2>Current Squad</h2>
                <img class="team-photo" src="../images/teams/eagles-squad.jpg" />
                <h2>Honours</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                <h2>Roster</h2>
                <div class="table-responsive">
                <table>
                    <tr><th>Player</th><th>Age</th></tr>
                    <tr><td>Adam Malcomson</td><td>8</td></tr>
                    <tr><td>Barri O'Hare</td><td>8</td></tr>
                    <tr><td>Blayne Thjorbjornsen</td><td>8</td></tr>
                    <tr><td>Caiden Forbes</td><td>8</td></tr>
                    <tr><td>Callum McLaren</td><td>9</td></tr>
                    <tr><td>Cole Giannandrea</td></td><td>9</td></tr>
                    <tr><td>Cole Wallace</td><td>8</td></td></tr>
                    <tr><td>Daniel Hadden</td><td>9</td></td></tr>
                    <tr><td>Finlay O'Neil</td><td>9</td></tr>
                    <tr><td>Kaiden Aird</td><td>9</td></tr>
                    <tr><td>Lewis Blyth</td><td>8</td></tr>
                    <tr><td>Logan Adam</td><td>8</td></tr>
                    <tr><td>Logan Kenny</td><td>8</td></tr>
                    <tr><td>Michael Foy</td><td>9</td></tr>
                    <tr><td>Rennie Taylor</td><td>7</td></tr>
                    <tr><td>Ross McEwan</td></td><td>8</td></tr>
                </table>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h4>Coach</h4>
                        <p>John Simpson</p>
                       <img class="coaches" src="../images/coaches/johnsimpson.jpg" />
                       <p></p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h4>Coach</h4>
                        <p>Pete Hadden</p>
                       <img class="coaches" src="../images/coaches/petehadden.jpg" />
                       <p></p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h4>Manager</h4>
                        <p>Mike Foy</p>
                       <img class="coaches" />
                       <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid nav-below"></div>
</section>