<section>
    <div class="container-fluid teams">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 head-logo">
                <img class="team-logo" src="../images/teams/FLAMES IMAGE.png" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                <h2>Current Squad</h2>
                <img class="team-photo" src="../images/teams/flames-squad.jpg" />
                <h2>Honours</h2>
                <h4>SCOTTISH LEAGUE WINNERS</h4>
                <p>2017/18, 2016/17, 2015/16, 2014/15, 2009/10, 2008/09, 2007/08, 2006/07</p>
                <br>
                <h4>SCOTTISH CUP WINNERS</h4>
                <p>2016/17, 2015/16, 2014/15, 2011/12, 2009/10, 2008/09, 2006/07</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                <h2>Roster</h2>
                <div class="table-responsive">
                <table>
                    <tr><th>Netminder</th><th>Age</th><th>Home Town</th></tr>
                    <tr><td>Ben Keddie</td><td>15</td><td>Kirkcaldy</td></tr>
                    <tr><td>Cameron Wilson</td><td>15</td><td>Kirkcaldy</td></tr>
                </table>
                </div>
                <br>
                <div class="table-responsive">
                <table>
                    <th>Defence</th>
                    <tr><td>Aidan Scott</td><td>15</td><td>Kirkcaldy</td></tr>
                    <tr><td>Ali McLeod</td><td>14</td><td>Burntisland</td></tr>
                    <tr><td>Andrew Thomson</td><td>15</td><td>Dalgety Bay</td></tr>
                    <tr><td>Harris Taylor</td><td>14</td><td>Kinghorn</td></tr>
                    <tr><td>Kian Guyan</td><td>14</td><td>Kirkcaldy</td></tr>
                </table>
                </div>
                <br>
                <div class="table-responsive">
                <table>
                    <th>Forwards</th>
                    <tr><td>Bradley Annan</td><td>14</td><td>Kirkcaldy</td></tr>
                    <tr><td>Jack McLeod</td><td>14</td><td>Dalgety Bay</td></tr>
                    <tr><td>Jamie Carson</td><td>14</td><td>Kirkcaldy</td></tr>
                    <tr><td>Keiran Samuel</td><td>14</td><td>Glenrothes</td></tr>
                    <tr><td>Kyle Howie</td><td>14</td><td>Cupar</td></tr>
                    <tr><td>Mirren Foy</td><td>15</td><td>Glenrothes</td></tr>
                    <tr><td>Scott McKay</td><td>14</td><td>Dalgety Bay</td></tr>
                    <tr><td>Struan Robertson</td><td>15</td><td>Glenrothes</td></tr>
                </table>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h4>Coach</h4>
                        <p>Andy Samuel</p>
                       <img class="coaches" src="../images/coaches/andysamuel.jpg" />
                       <p></p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h4>Coach</h4>
                        <p>Paul Wood</p>
                       <img class="coaches" src="../images/coaches/paulwood.jpg" />
                       <p></p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h4>Manager</h4>
                        <p>Mike Foy</p>
                       <img class="coaches" src="../images/coaches/mikefoy.jpg" />
                       <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid nav-below"></div>
</section>