<section>
                        <div class="container-fluid teams">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 head-logo">
                        <img class="team-logo" src="../images/teams/KESTRELS LOGO.png" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                        <h2>Current Squad</h2>
                        <img class="team-photo" src="../images/teams/kestrels-squad.jpg" />
                        <h2>Honours</h2>   
                        <h4>SCOTTISH LEAGUE WINNERS</h4>
                        <p>2015/16, 2014/15, 2009/10</p>
                        <br>
                        <h4>SCOTTISH PLAYOFF WINNERS</h4>
                        <p>2014/15, 2009/10</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                        <h2>Roster</h2>
                        <div class="table-responsive">
                        <table>
                            <tr><th>Netminder</th><th>Age</th><th>Home Town</th></tr>
                            <tr><td>Craig Chalmers</td><td>25</td><td>Lochgelly</td></tr>
                            <tr><td>Davie Jackson</td><td>29</td><td>Glenrothes</td></tr>
                        </table>
                        </div>
                        <br>
                        <div class="table-responsive">
                        <table>
                            <th>Defence</th>
                            <tr><td>Andrew Thomson</td><td>16</td><td>Dalgety Bay</td></tr>
                            <tr><td>Chris Wands</td><td>31</td><td>Kirkcaldy</td></tr>
                            <tr><td>Ethan Meldrum</td><td>18</td><td>Leslie</td></tr>
                            <tr><td>Gregor Smith</td><td>22</td><td>Dunfermline</td></tr>
                            <tr><td>Iain Quinn</td><td>27</td><td>Kirkcaldy</td></tr>
                            <tr><td>Steven McDonald</td><td>33</td><td>Kirkcaldy</td></tr>
                            <tr><td>Thomas Muir</td><td>33</td><td>Kirkcaldy</td></tr>
                        </table>
                        </div>
                        <br>
                        <div class="table-responsive">
                        <table>
                            <th>Forwards</th>
                            <tr><td>Allan Anderson</td><td>31</td><td>Kirkcaldy</td></tr>
                            <tr><td>Andy Finlay</td><td>41</td><td>Kirkcaldy</td></tr>
                            <tr><td>Finley King</td><td>16</td><td>Kirkcaldy</td></tr>
                            <tr><td>George Pitcaithly</td><td>18</td><td>Kirkcaldy</td></tr>
                            <tr><td>Graeme Allan</td><td>23</td><td>Kirkcaldy</td></tr>
                            <tr><td>Grant Jamieson</td><td>20</td><td>Kirkcaldy</td></tr>
                            <tr><td>Jake Grubb</td><td>16</td><td>Kirkcaldy</td></tr>
                            <tr><td>Jamie Crawford</td><td>18</td><td>Kirkcaldy</td></tr>
                            <tr><td>Jamie Wilson</td><td>32</td><td>Kirkcaldy</td></tr>
                            <tr><td>Lewis Kellock</td><td>18</td><td>Kirkcaldy</td></tr>
                            <tr><td>Robbie Summers</td><td>26</td><td>Kirkcaldy</td></tr>
                            <tr><td>Ryan Todd</td><td>22</td><td>Kirkcaldy</td></tr>
                            <tr><td>Scott Jamieson</td><td>18</td><td>Kirkcaldy</td></tr>
                            <tr><td>Sean Cochrane</td><td>23</td><td>Kirkcaldy</td></tr>
                        </table>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <h4>Coach</h4>
                                <p>Steven Wishart</p>
                               <img class="coaches" src="../images/coaches/stevenwishart.jpg" /> 
                               <p></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <h4>Coach</h4>
                                <p>Steven King</p>
                              <img class="coaches" src="../images/coaches/stevenking.jpg" />
                               <p></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <h4>Manager</h4>
                                <p>Murray Jamieson</p>
                               <img class="coaches" src="../images/coaches/murrayjamieson.jpg" /> 
                               <p></p>
                            </div>
                        </div>
                    </div>    
                </div>

        <div class="container-fluid nav-below"></div>
</section>
