<section>
                        <div class="container-fluid teams">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 head-logo">
                        <img class="team-logo" src="../images/teams/KUBZS LOGO.png" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                        <h2>Current Squad</h2>
                        <img class="team-photo" src="../images/teams/kubz-squad.jpg" />
                        <br>
                        <div>
                            <div class="caricature">
                                <h2>Do YOU want to play Hockey?</h2>
                                <p>Then come along and join in the fun! Everyone's welcome!</p>
                                <p>Every Saturday learn to play at Fife Ice Arena from 12:15pm.</p>
                                <p>Want to know more, contact us <a target="_blank" href="../enquiry.html">here</a></p>
                                <p>for further information. </p>
                            </div>
                        </div>   
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
                        <h2>Roster</h2>
                        <div class="table-responsive">
                        <table>
                            <tr><th>Player</th><th>Age</th></tr>
                            <tr><td>Aaron Guild</td><td>8</td></tr>
                            <tr><td>Adam Malcomson</td><td>8</td></tr>
                            <tr><td>Aiden Lennie</td><td>8</td></tr>
                            <tr><td>Ben Spears</td><td>8</td></tr>
                            <tr><td>Charlie McLean</td><td>8</td></tr>
                            <tr><td>Cormac McKenna</td><td>12</td></tr>
                            <tr><td>Evan Ness</td></td><td>8</td></tr>
                            <tr><td>Finlay Anderson</td><td>11</td></td></tr>
                            <tr><td>Finlay O'Neil</td><td>9</td></td></tr>
                            <tr><td>Harrison Spears</td><td>9</td></tr>
                            <tr><td>Jackson O'Neil</td><td>7</td></tr>
                            <tr><td>Kian Dunn</td><td>14</td></tr>
                            <tr><td>Logan McNeil</td><td>7</td></tr>
                            <tr><td>Malcolm McPhee</td><td>8</td></tr>
                            <tr><td>Murray Anderson</td><td>8</td></tr>
                            <tr><td>Murray McNeil</td><td>5</td></tr>
                            <tr><td>Murray Whyte</td></td><td>8</td></tr>
                            <tr><td>Oliver Crowder</td><td>5</td></tr>
                            <tr><td>Ryan McGroarty</td><td>8</td></tr>
                            <tr><td>Ryan Venters</td><td>7</td></tr>
                        </table>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <h4>Coach</h4>
                                <p>John Simpson</p>
                                <img class="coaches" src="../images/coaches/johnsimpson.jpg" />
                                <p></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <h4>Coach</h4>
                                <p>Allan O'Neil</p>
                                <img class="coaches" src="../images/coaches/allanoneill.jpg" />
                                <p></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <h4>Manager</h4>
                                <p>Cara Wilson</p>
                                <img class="coaches" src="../images/coaches/carawilson.jpg"/>
                                <p></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <h4>Manager</h4>
                                <p>Kerry Ann Beveridge</p>
                                <img class="coaches"  src="../images/coaches/kerryannbeveridge.jpg"/>
                                <p></p>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

        
        <div class="container-fluid nav-below"></div>
</section>