<section>
<div class="container-fluid teams">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 head-logo">
            <img class="team-logo" src="../images/teams/REDSKINS IMAGE.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
            <h2>Current Squad</h2>
            <img class="team-photo" src="../images/teams/redskins-squad.jpg" />
            <h2>Honours</h2>
            <h4>SCOTTISH LEAGUE WINNERS</h4>
            <p>2018/19, 2017/18, 2015/16, 2014/15, 2012/13, 2011/12, 2010/11, 2006/07, 2005/06, 2003/04</p>
            <br>
            <h4>SCOTTISH CUP WINNERS</h4>
            <p>2018/19, 2017/18, 2016/17, 2015/16, 2014/15, 2013/14, 2012/13, 2011/12, 2010/11, 2008/09, 2006/07, 2003/04, 2002/03</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 head-photo">
            <h2>Roster</h2>
            <div class="table-responsive">
            <table>
                <tr><th>Netminder</th><th>Age</th><th>Home Town</th></tr>
                <tr><td>Daniel Hadden</td><td>10</td><td>Glenrothes</td></tr>
            </table>
            </div>
            <br>
            <div class="table-responsive">
            <table>
                <th>Defence</th>
                <tr><td>Aaron Wood</td><td>11</td><td>Kirkcaldy</td></tr>
                <tr><td>Cole Giannandrea</td><td>10</td><td>Kirkcaldy</td></tr>
                <tr><td>Jack Malcomson</td><td>11</td><td>Kirkcaldy</td></tr>
                <tr><td>Logan Adam</td><td>11</td><td>Kirkcaldy</td></tr>
            </table>
            </div>
            <br>
            <div class="table-responsive">
            <table>
                <th>Forwards</th>
                <tr><td>Callum McLaren</td><td>10</td><td>Kirkcaldy</td></tr>
                <tr><td>Evan Ness</td><td>9</td><td>Kirkcaldy</td></tr>
                <tr><td>Finlay O'Neil</td><td>10</td><td>Kirkcaldy</td></tr>
                <tr><td>Jake Blyth</td><td>11</td><td>Kirkcaldy</td></tr>
                <tr><td>John Haig</td><td>11</td><td>Kirkcaldy</td></tr>
                <tr><td>Kaeden Aird</td><td>10</td><td>Kirkcaldy</td></tr>
                <tr><td>Kaiden Edie</td><td>11</td><td>Burntisland</td></tr>
                <tr><td>Michael Foy</td><td>10</td><td>Kirkcaldy</td></tr>
            </table>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h4>Coach</h4>
                    <p>Allan Anderson</p>
                   <img class="coaches"  />
                   <p></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h4>Coach</h4>
                    <p>Sean Annan</p>
                   <img class="coaches" src="../images/coaches/seanannan.jpg" />
                   <p></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h4>Manager</h4>
                    <p>Russell Adam</p>
                   <img class="coaches" src="../images/coaches/russelladam.jpg" />
                   <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid nav-below"></div>
</section>
