<section>
    <div class="container-fluid main about">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h2>About KIHC - History and Information</h2>
                <br>
                <p>Kirkcaldy Ice Hockey Club was formed in 1984 and has been one of the foremost clubs in Scotland since formation.</p>
                <br>
                <p>KIHC share the Ice Pad at Fife Ice Arena with local Elite Ice Hockey League team, Fife Flyers - the oldest Ice Hockey team in the UK formed in 1938, Kirkcaldy Ice Skating Club and the many Curling and Recreational Hockey teams that play out of the Arena. Our season run from late August through to early May when the Ice Pad is normally lifted.</p>
                <br>
                <p>Whilst the town of Kirkcaldy has had an Ice Hockey team since 1938 the formation of KIHC was the first of a structured pathway being put in place to bring players in from a young age to nurture them through the age groups and introduce competitive hockey via League and Cup competition.</p>
                <br>
                <p>KIHC have led the way in this with a burgeoning Learn to Play system, providing players with the basic skills to progress into U10 Fife Eagles, U12 Kirkcaldy Redskins, U14 Kirkcaldy Chiefs, U16 Fife Flames, U20 Fife Falcons and our senior Scottish National League team Kirkcaldy Kestrels.</p>
                <br>
                <p>KIHC has over 120 registered players, 20 registered coaches and a support network across the community from family, friends and the 38 local businesses who provide financial support to the Hockey Club.</p>
                <br>
                <p>Whilst the coaching emphasis is on having fun, learning and improving on-ice and off-ice skills the nature of the sport is to be competitive and KIHC teams have enjoyed much success over recent years with multiple Scottish League and Scottish Cup wins. Funnily enough this makes the Hockey more fun.</p>
                <br>
                <p>KIHC have an enviable record of producing hockey players that have progressed into the professional game and in recent times a number of our former KIHC players have made their way into the EIHL ( Caly Robertson, Chad Smith, Reece Cochrane) and NIHL teams (Renny Marr, Tyler Plews).</p>
                <br>
                <p>The Future is bright for KIHC, if you want to get involved, as a player or sponsor, then use our 'Contact us' link and we will out you in touch with the right person at the club.</p>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
            </div>
        </div>
    <div class="container-fluid nav-below"></div>
</section>
