<section>
    <div class="container-fluid main committee">
        <div class="row">
            <h2>Annual Awards</h2>
            <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                <div class="committee-info">
                    <h3>Glenda Horne Trophy</h3>
                    <img src="../images/GlendaHorneTrophy.jpg" />
                    <h4>Winners</h4>
                    <ul class="list-group">
                        <li class="list-group-item">2020 - Mirren Foy</li>
                        <li class="list-group-item">2019 - Scott Jamieson</li>
                        <li class="list-group-item">2018 - Martyn Simpson</li>
                        <li class="list-group-item">2017 - Reece Cochrane</li>
                        <li class="list-group-item">2016 - Scott Plews</li>
                        <li class="list-group-item">2015 - Renny Marr</li>
                        <li class="list-group-item">2014 - Bethany Scoon</li>
                        <li class="list-group-item">2013 - Adam Farmer</li>
                        <li class="list-group-item">2012 - Jordan Crowe</li>
                        <li class="list-group-item">2011 - Craig Moore</li>
                        <li class="list-group-item">2010 - Matthew Farmer</li>
                        <li class="list-group-item">2009 - Iain Quinn</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                <div class="committee-info">
                    <h3>Andrew Clarkson Shield</h3>
                    <img src="../images/AndrewClarksonShield.jpg" />
                    <h4>Winners</h4>
                    <ul class="list-group">
                        <li class="list-group-item">2020 - Murray Whyte</li>
                        <li class="list-group-item">2019 - Bari O'Hare</li>
                        <li class="list-group-item">2018 - Jay Brown</li>
                        <li class="list-group-item">2017 - Matthew Dobie</li>
                        <li class="list-group-item">2016 - Joshua Saunders</li>
                        <li class="list-group-item">2015 - Bradley Annan/Katrina Wood</li>
                        <li class="list-group-item">2014 - Ali Mcleod</li>
                        <li class="list-group-item">2013 - Lennon Donaldson</li>
                        <li class="list-group-item">2012 - Samuel Carson</li>
                        <li class="list-group-item">2011 - Callum Morrison</li>
                        <li class="list-group-item">2010 - Matthew Allan</li>
                        <li class="list-group-item">2009 - Garry Simpson</li>
                        <li class="list-group-item">2008 - Declan McGurnahan</li>
                        <li class="list-group-item">2007 - Conor Morris</li>
                        <li class="list-group-item">2006 - Michael Kirov</li>
                        <li class="list-group-item">2005 - Michael Benvie</li>
                        <li class="list-group-item">2004 - Craig Smith</li>
                        <li class="list-group-item">2003 - Kieran Elder</li>
                        <li class="list-group-item">2002 - Michael Greig</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                <div class="committee-info">
                    <h3>Andrew Dobie Shield</h3>
                    <img src="../images/AndrewDobieShield.jpg" />
                    <h4>Winners</h4>
                    <ul class="list-group">
                        <li class="list-group-item">2020 - Malcolm MacPhee</li>
                        <li class="list-group-item">2019 - Jackson O'Neil</li>
                        <li class="list-group-item">2018 - Ryan Venters</li>
                        <li class="list-group-item">2017 - Finlay O'Neill</li>
                        <li class="list-group-item">2016 - Jack Somerville</li>
                        <li class="list-group-item">2015 - John Haig</li>
                        <li class="list-group-item">2014 - Ross Henderson</li>
                        <li class="list-group-item">2013 - Brodie Kay</li>
                        <li class="list-group-item">2012 - Ben Keddie</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                <div class="committee-info">
                    <h3>Duncan Clark Trophy</h3>
                    <img src="../images/DuncanClarkTrophy.jpg" />
                    <h4>Winners</h4>
                    <ul class="list-group">
                        <li class="list-group-item">2020 - Euan Simpson</li>
                        <li class="list-group-item">2019 - Cameron Kenny</li>
                        <li class="list-group-item">2018 - Euan Simpson</li>
                        <li class="list-group-item">2017 - Ben Keddie</li>
                    </ul
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid nav-below"></div>
</section>
