<section>
            <div class="container-fluid main committee">
                <div class="row">
                    <h2>KIHC Committee</h2>
                    <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                        <div class="committee-info">
                            <h3>Chairman</h3>
                            <h4>Ian Keddie</h4>
                            <img src="../images/coaches/iankeddie.jpg" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                        <div class="committee-info">
                            <h3>Vice Chairman</h3>
                            <h4>Andy Samuel</h4>
                            <img src="../images/coaches/andysamuel.jpg" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                        <div class="committee-info">
                            <h3>Head Coach</h3>
                            <h4>Steven Lynch</h4>
                            <img src="../images/coaches/stevenlynch.jpg" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                        <div class="committee-info">
                            <h3>Secretary</h3>
                            <h4>Neil Saunders</h4>
                            <img src="" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                        <div class="committee-info">
                            <h3>Fixtures Secretary</h3>
                            <h4>Gary Wood</h4>
                            <img src="" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 committee-info-top">
                        <div class="committee-info">
                            <h3>Child Protection Officer</h3>
                            <h4>Rhonda Annan</h4>
                            <img src="" />
                        </div>
                    </div>
                </div>
            </div>    
    <div class="container-fluid nav-below"></div>
</section>