<section>
            <div class="container-fluid main heading fixtures">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2>Fixtures</h2>
                        <li class="dropdown nav">
                          <a class="dropdown-toggle team-fixtures" data-toggle="dropdown" href="#">Select Team<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                                <li><a id="all">All</a></li>
                                <li><a id="kubz">Kirkcaldy Kubz</a></li>
                                <li><a id="eagles">Fife Eagles</a></li>
                                <li><a id="redskins">Kirkcaldy Redskins</a></li>
                                <li><a id="chiefs">Kirkcaldy Chiefs</a></li>
                                <li><a id="flames">Fife Flames</a></li>
                                <li><a id="falcons">Fife Falcons</a></li>
                                <li><a id="kestrels">Kirkcaldy Kestrels</a></li>
                          </ul>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div id="fixtures"></div>
                    </div>
                </div>
            </div>    
    <div class="container-fluid nav-below"></div>
</section>
<script src="../scripts/fixtures.js"></script>
