<section>
            <div class="container-fluid main about">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2>Hockey UK</h2>
                        <div class="container-fluid main about">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8">    
                            
                                <p>Kirkcaldy Ice Hockey Club once again held the annual Hockey UK tournament with U12 & U14 teams competing.</p>
                                <br>
                                <p>Kirkcaldy Redskins welcomed Lanarkshire Lightning, Murrayfield, North Ayr Penguins and a Scots U11 prospects team.
                                Redskins progressed through their group games without conceding a goal and faced the Scots squad in the Semi Final.
                                They came through this unscathed to meet Murrayfield again and won in convincing fashion 4-0.</p>
                                <br>
                                <p>After a difficult season this was Chiefs last chance to grab some silverware and they played hard all weekend to give themselves the best opportunity.
                                Belfast Junior Giants, Kilmarnock Tornadoes, Lanarkshire Lightning and North Ayr Stars all stood in the way.
                                A 6-1 win against North Ayr set them on their way, 2-2 with Belfast, 3-0 vs Kilmarnock before finishing the round robin with a 2-1 loss to Lanarkshire led to Chiefs meeting Kilmarnock in the semi final.</p>
                                <br>
                                <p>Another close game this time resulting in 2-1 win meant that Chiefs would face Belfast in the final.</p>
                                <br>
                                <p>A thrilling game where Belfast took a lead after 7 minutes, then Chiefs equalising a short while later.
                                The 2nd half of the final started with a Belfast goal after only 11 seconds but Andrew Thomson somehow managed to squeeze the puck in to equalize and the game headed to Overtime.
                                After 90 seconds of the extra period Ali McLeod found some space to skate into the Belfast zone and fired high past the netminder to spark great celebrations from the Chiefs who got the successful end to their season that they craved.</p>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                </div>
                    </div>
                    <img src="../images/HockeyUK.jpg"/>
                </div>
            </div>   
                </div>
            </div>
            <div class="container-fluid nav-below"></div>
</section>