<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:description" content="Kirkcaldy Ice Hockey Club, Kirkcaldy, Fife. Kirkcaldy Ice Hockey Club, Est 1984. This page is dedicated to KIHC junior development programme">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../styles/styles.css" type="text/css" />
    <title id="pageTitle">Kirkcaldy Ice Hockey Club</title>
</head>
<body>
<header>
    
</header>
<section>
    <div class="container-fluid">
        <div class="row front-page">
            <div class="col-xs-12 col-sm-12 col-md-12 logo">
                <p class="front-heading">Kirkcaldy Ice Hockey Club</p>
                <a href="../home.html"><img alt="Kirkcaldy Ice Hockey Club Home Page" src="../images/KIHC-Logo-large.png" />
            </div>
            <p class="front-link">Enter Here</p>
        </div>
    </div>
 </section>
<footer>  
</footer>
</body>
</html>