<section>
    <div class="container-fluid">
        <div class="row front-page">
            <div class="col-xs-12 col-sm-12 col-md-12 logo">
                <p class="front-heading">Kirkcaldy Ice Hockey Club</p>
                <a href="../home"><img alt="Kirkcaldy Ice Hockey Club Home Page" src="../images/KIHC-Logo-large.png" />
            </div>
            <p class="front-link">Enter Here</p>
        </div>
    </div>
 </section>