<section>
            <div class="container-fluid main about">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2>KIHC Membership Details</h2>
                        <div class="container-fluid main about">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8">    
                            
                                <p>Kirkcaldy Ice Hockey Club invite anyone with an interest in the development of Ice Hockey in Fife to become a member of our club. For a payment of £15 you will become a member for season 2018/19, have the option to attend our AGM at the end of the season and also benefit from the various discounts that our sponsors and advertisers have generously provided to our Membership.</p>
                                <br>
                                <p>In addition you can keep yourself updated with what is happening in our Ice Hockey Club with details of our upcoming matches, social events and successes by visiting this page regularly.</p>
                                <br>
                                <p>Please complete this <a href="../data/KIHC-Membership-Form.docx" target="_blank" class="cv-pdf">form</a> and hand the form, passport sized photo and payment to any member of the KIHC team. You will be provided with a Membership Card which you present to receive the discounts detailed <a href="../data/KIHC-Membership-Benefits-2018.docx" target="_blank" class="cv-pdf">here</a>.</p>
                                <br>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                </div>
                    </div>
                </div>
            </div>   
                </div>
            </div>
            <div class="container-fluid nav-below"></div>
</section>
