<section>
            <div class="container-fluid">
                <div class="row main heading social">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2>Social Links</h2>
                        <p>Follow our teams on social media</p>
                        <div class="col-xs-12 col-sm-12 col-md-6 social-info-top">
                            <div class="social-info">
                                <h3>Facebook <i class="fa fa-facebook" aria-hidden="true"></i></h3>
                                <p>Join the growing list of followers of Kirkcaldy Ice Hockey Club</p>
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://en-gb.facebook.com/Kirkcaldyicehockeyclub/">Kirkcaldy Ice Hockey Club</a>
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://www.facebook.com/KirkcaldyKestrels/">Kirkcaldy Kestrels</a>
                                </div>    
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 social-info-top">
                            <div class="social-info">
                                <h3>Twitter <i class="fa fa-twitter" aria-hidden="true"></i></h3>
                                <p>We have multiple twitter accounts for the KIHC teams.</p>
                                <p>You can follow our teams below:</p>
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://twitter.com/kkestrels?lang=en">Kirkcaldy Kestrels</a>
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://twitter.com/fifefalcons?lang=en">Fife Falcons</a>
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://twitter.com/fifeflames?lang=en">Fife Flames</a>
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://twitter.com/kirkcaldychiefs?lang=en">Kirkcaldy Chiefs</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 social-info-top">
                            <div class="social-info">
                                <h3>You Tube <i class="fa fa-youtube" aria-hidden="true"></i></h3>
                                <p>Get the latest Kestrels action on their YouTube account</p>
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://www.youtube.com/channel/UCA9WFDabesP-_uFNfnNmzBQ">Kirkcaldy Kestrels</a>
                                </div>  
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 social-info-top">
                            <div class="social-info">
                                <h3>Flickr <i class="fa fa-flickr" aria-hidden="true"></i></h3>
                                <p>To see snapshots of all the games get up to date on Flickr</p>
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action" target="_blank" href="https://www.flickr.com/photos/fifeicehockey/">KIHC Photo Albums</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="container-fluid nav-below"></div>
</section>
