<section>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 sponsors">
                <h2>Sponsors</h2>
                <p>A massive thanks goes to all our sponsors. Please follow the links to see what services they offer.</p>
                <br>
                <a title="Farmer Autocare" target="_blank" href="https://www.farmerautocare.com"><img src="../images/sponsors/farmers logo.png" /></a>
                <div class="row sub-sponsors">
                    <div class="col-xs-12 col-sm-3 col-md-3 logo-small">
                        <a title="Gloves Off Clothing" target="_blank" href="https://www.glovesoffclothing.com//"><img src="../images/sponsors/gloves-off.png" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 logo-small">
                        <a title="Branching Out Tree Surgery and Land Clearance" target="_blank" href="http://branching-out.org/"><img src="../images/sponsors/branchingout.jpg" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 logo-small">
                        <a title="For all your joinery needs" target="_blank" href="https://www.howdens.com/"><img src="../images/sponsors/howdenslogo.png" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 logo-small">
                        <a title="SN Electrical & Property Solutions" target="_blank" href="https://sn-eps.com/"><img src="../images/sponsors/sn-eps.png" /></a>
                    </div>
                </div>
                <p>Thanks also to the following companies who support KIHC.</p>
                <br>
                <div class="row sub-sponsors">
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="ACA Sports"><img src="../images/sponsors/aca-sports.gif" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="SKN Electrical"><img src="../images/sponsors/SKN-logo.png" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="MKM Building Supplies"><img src="../images/sponsors/MKMsitelogo.png" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="Buffalo Farm" ><img src="../images/sponsors/buffalo-farm.png" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Mark Hadden - Painter & Decorator</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="Arena Gym" ><img src="../images/sponsors/arena-gym.png" /></a>
                    </div>
                </div>
                <div class="row sub-sponsors">
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="Fife Free Press" ><img src="../images/sponsors/fifefreepress.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="Specsavers" ><img src="../images/sponsors/Specsavers_Logo.svg" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="Scaffolding" ><img src="../images/sponsors/I-scaff.png" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="Charlie Reid Travel"><img src="../images/sponsors/charliereid.png" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Baguette Express</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Memorial Plaques Scotland</p>
                    </div>
                </div>
                <div class="row sub-sponsors">
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Direct Trophies</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Scott Gibson Body Shop</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Above and Beyond Cleaning</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="The Ironing Room"><img src="../images/sponsors/ironingroom.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Revolution Barber Shop</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <a title="Neil Thorbjorsen Building" ><img src="../images/sponsors/ntbuilding.png" /></a>
                    </div>
                </div>
                <div class="row sub-sponsors">
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Ecom</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>S Douglas Roofing Contractor</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>AnnMarie Gillies Hairdressing</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Debbie's TakeAway Thornton</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Kirkcaldy Ice Skating Club</p>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 logo-small">
                        <p>Fife Ice Arena</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid nav-below"></div>
</section>
