


/*-----------------------Front Page----*/

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    overflow: hidden;
}

.front-page {
    background: linear-gradient(to left, rgba(0, 0, 128, 0.8), rgba(0, 0, 128, 0.8)), url("/images/KIHC-home.png");
    background-size: cover;
    background-position: center center;
    height: 800px;
    margin: auto;
    padding: 0;
    text-align: center;
}

.logo {
    margin-top: 200px;
}

.front-page {
    color: #fff;
}

.front-heading {
    font-size: 40px;
    color: #fefefe;
}

.front-link {
    font-size: 26px;
    text-decoration: none;
    color: #fefefe;
}

/*-----------------------------Background------*/

body {
    background-image: url('../images/ice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.caricature {
    position: relative;
    min-height: 300px;
}

.caricature::after {
    content: "";
    background-image: url('../images/KIHC Mascot Player.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}


/*----------------------------Header-----*/

.main-wrap {
    background-color: #000080;
    padding-left: 0;
    padding-right: 0;
}
.navbar, .home-bar, .navbar-header {
    min-height: 100px;
}

.nav li a, .dropdown-menu>li>a:hover{
    color: #fafafa;
}

.nav>li>a {
   padding: 10px 10px;
}

.navbar-brand {
    width: 200px;
    padding-top: 10px;
}

.navbar-header img { 
    width: 100%;
}

.navbar-toggle {
    background-color: #000080;
    border-color: #fafafa;
}

.nav-below {
    background-color: #ffff4d;
    height: 10px;
}

.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:hover {
    background-color: #000050;
}

.dropdown-menu, .dropdown-menu:hover {
    background-color: #000080;
}

.icon-bar {
    background-color: #fafafa;
}

/*-------------------Marquee------*/


.marquee {
 height: 30px;	
 overflow: hidden;
 position: relative;
}
.marquee p {
 font-size: 1.5em;
 color: #14326a;
 position: absolute;
 width: 450%;
 height: 30px;
 margin: 0;
 line-height: 30px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: marquee 60s linear infinite;
 -webkit-animation: marquee 60s linear infinite;
 animation: marquee 60s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
/*--------------------------------Carousel--*/

.home {
    height: 400px;
}

.carousel-inner {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
}

.carousel-inner .item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

.carousel-inner .image1 {
    background-image: url('../images/Game-action1.jpg');
}
.carousel-inner .image2 {
    background-image:  url('../images/Game-action2.jpg');
}
.carousel-inner .image3 {
    background-image: url('../images/Game-action3.jpg');
}
.carousel-inner .image4 {
    background-image: url('../images/Game-action4.jpg');
}
.carousel-inner .image5 {
    background-image: url('../images/Game-action5.jpg');
}
.carousel-inner .image6 {
    background-image:  url('../images/Game-action6.jpg');
}
.carousel-inner .image7 {
    background-image: url('../images/Game-action7.jpg');
}
.carousel-inner .image8 {
    background-image: url('../images/Game-action8.jpg');
}
.carousel-inner .image9 {
    background-image: url('../images/Game-action9.jpg');
}
.carousel-inner .image10 {
    background-image:  url('../images/Game-action10.jpg');
}
.carousel-inner .image11 {
    background-image: url('../images/Game-action11.jpg');
}
.carousel-inner .image12 {
    background-image: url('../images/Game-action12.jpg');
}
.carousel-inner .image13 {
    background-image: url('../images/Game-action13.jpg');
}
.carousel-inner .image14 {
    background-image:  url('../images/Game-action14.jpg');
}
.carousel-inner .image15 {
    background-image: url('../images/Game-action15.jpg');
}

/*----------------------------Committee-----*/

.main {
    text-align: center;
    background-color: #fafafa;
    color: #14326a;
    padding-bottom: 40px;
}

.committee-info, .social-info, .home-info {
    border: 1px solid #14326a;
    margin: 0px 60px;
    padding-bottom: 20px;
}

.committee-info-top, .social-info-top, .home-info-top {
    padding-top: 20px;
}
/*----------------------------Fixtures-----*/

.dropbtn {
    background-color: #000080;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #000050;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.dropdown a {
    background-color: #000080;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000080;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    z-index: 1000;
}

table {
    table-layout: fixed;
    width: 100%;
}

td, th {
    word-wrap: break-word;
}

.dropdown a:hover {background-color: #000050}

.show {display:block;}

.fixtures {
    min-height: 200px;
}

/*----------------------------Footer-----*/

.footer {
    color: #fafafa;
    text-align: center;
}

.footer-left {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.footer-left::after{
    content: '';
    position: absolute;
    display: block;
    border-left: 1px solid #fafafa;
    height: 50%;
    bottom: 25%;
}

.footer-section {
    min-height: 250px;
}

.footer-left a i {
    color: #fafafa;
}

.game {
    margin: auto;
    width: 90%;
}

.upcoming-games {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

/*--------------------------------Teams---*/

.teams {
    background-color: #fafafa;
}

.head-logo {
    text-align: center;
}

.head-photo {
    text-align: center;
}

.team-logo{
    width: 25%;
    height: 25%;
    padding: 10px;
}

.team-photo {
    width: 90%;
}

.coaches {
    width: 60%;
    height: 60%;
}

table {
    margin: auto;
    width: 90%;
    text-align: center;
}

table tr, table th{
    text-align: center;
    border: 1px solid #000;
}

/*--------------------------------Social---*/

.list-group a {
    color: #14326a;
    background-color: #fafafa; ;
}



.list-group a:hover{
    color: #fafafa;
    background-color: #14326a;
}


/*--------------------------------Sponsors---*/

.logo-small a img{
    padding: 10px 0px;
    width: 40%;
    text-decoration: none;
}

.logo-medium a img{
    padding: 10px 0px;
    width: 60%;
}

/*--------------------------------Enquiry Form---*/

.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#14236a; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#000050;}
.form-control-feedback{ line-height:50px;}
.form-group, .form-button {
    padding: 10px 10px;
}
.main-btn{ 
    background:#14236a; 
    border-color:#fff; 
    color:#fafafa;
}
.main-btn:hover{ 
    background:#000050;
    color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
/*----------------------------Media Queries-----*/

@media (max-width: 993px) {
    .logo img {
        height: 50%;
        width: 50%;
    }
    
    .footer-left::after {
        content: '';
        position: absolute;
        display: inline;
        top: 0;
        border-top: 1px solid #fafafa;
        border-left: none;
        width: 50%;
        left: 25%;
    }
    .game {
    margin: auto;
    width: 60%;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  
        display: block!important; 
    }
    
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    td, th {
        font-size: 8px;        
    }
    
}
@media (min-width: 992px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
}